html{
    height: 100vh;
    width: 100vw;
}

.weeklyContainer{
    display:flex;
}

.weekly{
    width:78vw;
    /* height: 100vh; */
}

.calendarScreen{
    display: flex;
    border: 16px solid rgb(44, 67, 98);
    height: 100vh;
}

.navbar{
    width: 20%;
}

.weeklyDesktop{
    width: 81.4vw;
    height: 97vh;
    background: url(../../pictures/backg.png);
    background-size: 140%;
}

.weeklyDisplayMobile{
    margin: 20px;
}

.weeklyHead{
    display: flex;
    justify-content: center;
    margin: -5px;
}

.weeklyMobile{
    width: 100vw;
}

.weeklyHead > h1{
    background: white;
    width: max-content;
}

.weeklyHeadMobile{
    display: flex;
    justify-content: center;
}

.weeklyHeadMobile > h1{
    font-size: 1.6em;
}

.weeklyDisplay{
    display: flex;
}

.weeklyDisplayMobile{
    display:flex;
    flex-direction: column;
}

/* .arrow {
} */

.nextMobile{
    height: 22px;
    margin-left: 4px;
}

.previousMobile{
    height: 22px;
    margin-right: 4px;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 0px;
    cursor: pointer;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 10px;
    margin-left: 2px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 2px;
    margin-left: 10px;
}

/* 
@media screen and (min-width: 10px) and (max-width: 1024px) {

    .Calendar {
        display: block;
    }
} */

  .navbar {
  
    width: 17%;
    border: 2px solid grey
  }
  
     
  .arrow {
  
    display: flex;
    justify-content: space-around;
    }
  
    

    .menuCss  {
        color: rgb(0, 0, 0);
        list-style-type: none;
        font-size: 2.8vh;
        padding: 22px;
      }
      
      .logo{
        width: 90%;
      }
      
      .aLinkRC {
      size: 20px;
      font-family: 'Oswald', 'sans-serif';
      line-height: 2;
      color: black;
      text-decoration: none;
      text-decoration-style: solid;
      font-weight: normal;
      letter-spacing: .06em;
      }
      
      .liDesckop :hover {
        box-shadow: #bc33e9 0 -12px inset; 
        list-style-type: none;
      }
      
      @media screen and (min-width: 10px) and (max-width: 1024px) {
        .aLinkRC {
          display: none;
        }
      
        .responsiveDisplay{
          width: 50vw
        }
      
        .logo{
          display: none;
        }
      
      }




 @media screen and (min-width: 10px) and (max-width: 1024px) {
      
    #wrap {
        font-family: sans-serif;
        font-size: 21px;
        line-height: 1.6;
        margin-left: 0;
        display: flex;
        
        transition: transform .4s cubic-bezier(.25, .1, .25, 1);
        position: fixed;
        top: 23px; left: 363px;
        z-index: 8;
        text-decoration: none;
        text-decoration-style: solid;
    
    
      
    }
    
      
      
      #wrap:not(:target) {
        transform: translate3d(-335px, 0, 0);
      }
      
      #wrap:target {
        transform: translate3d(0, 0, 0);
      }
      
      #open,
      #close {
        height: 44px;
        text-align: left ;
        display: block;
        margin-left: -35%;
      }
      
      #wrap:target #open,
      #wrap:not(:target) #close {
        display: none;
      }
      
      #wrap:target #open {
        display: none;
      }
      
      .nav .aLinkRC {
        
        text-decoration-style: solid;
        color: black;
        text-decoration: none;
        display: block;
      }
      
      .header {
        
        width: 100%;
    }
      
      .nav {
        
        top: 0%;
        left: 1px;
        position:fixed 
      }
    
    
    #warp,  #open {
        background-image: url(https://static.thenounproject.com/png/568033-200.png);
        background-size: contain;
        background-repeat: no-repeat;
       
        height: 34px;
        width: 34px;
       
      }
    
     #close {
        background-color: white;
        width: 101vw;
        height: 18vh;
        margin-left: -17.34em;
        margin-top: -4vh;
        text-decoration: none;
        color: black;
     }
    
     .liResponsive :hover {
        
        list-style-type: none;
     }
    
     .shadowBox:hover {
      box-shadow: #bc33e9 310px -21px inset;
      
     }
    
    .shadowBox{
      padding-left: 2em;
      list-style-type: none; 
    }
    
    
     .liResponsive {
      
      list-style-type: none;
    }

    .calendar{
        border: none;
    }
    
     
    }
    @media screen and (min-width : 1024px)  {
    #close, .liResponsive {
        display: none;
    }
    }






    
    .event{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    .event > h2 {
        font-size: .85em;
    }
    
    .event > p {
        font-size: .75em;
        margin: 0px;
    }
    
    .event > img {
        width: 80%;
        align-self: center;
        margin: 5px;
    }
    
    .important{
        background: rgba(255,255,255, .45);
        border-radius: 15px;
    }







    /* DESKTOP */
.dayDesktop{
    width: 20%;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 0px;
}

.dayDesktop > h1 {
    background: white;  
    text-transform: uppercase;
    font-size: 1.2em;
    color: rgb(48, 48, 48);
    margin: 0px;
}

.dayDesktop > .line {
    width: 100%;
    height: 1px;
    background: grey;
    margin-top: 8px;
    margin-bottom: 4px;
}

.event{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.event > h2 {
    font-size: .85em;
}

.event > p {
    font-size: .75em;
    margin: 0px;
}

.event > img {
    width: 80%;
    align-self: center;
    margin: 5px;
}

.important{
    background: rgba(255, 255, 255, 0.45);
    border-radius: 15px;
}

/* MOBILE */

.dayMobile {
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 0px;
}

.dayMobile > h1 {
    background: white;  
    text-transform: uppercase;
    font-size: 1.2em;
    color: rgb(48, 48, 48);
    margin: 0px;
}

.dayMobile > .line {
    width: 100%;
    height: 1px;
    background: grey;
    margin-top: 8px;
    margin-bottom: 4px;
}

.dayMobile > .event{
    border: .2px solid grey;
    border-radius: 15px;
    margin: 8px;
}

#selected {
    background: rgba(180, 180, 180, 0.45);
}

.dayMobile > .important{
    background: rgba(180, 180, 180, 0.45);
}

.dayMobile > h1{
    display: none;
}

.dayMobile > .line{
    margin-top: 15px;
    margin-bottom: 5px;
}

.days{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.days h1{
    cursor: pointer;
    font-size: 1.2em;
    padding:5px;
}

.daySelector{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.dayMobile > .event > h2 {
    text-transform: uppercase;
}







.searchForm{
    width:100%;
    display: flex;
    overflow: hidden;
}

.searchForm input{
    width: 90%
}

.boutonLoupe{
    height: 50%;
    background: #bc33e9;
    border: none;
    /* position: absolute; */
    margin-left: -2.13em;
    margin-top: 0.72em;
    border-radius: 15%;
}

.loupe{
    width: 12px;
}



@media screen and (min-width: 10px) and (max-width: 1024px) {
        .searchForm {
          display: none;
          
      }
}
