.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 28vw;
    border: 1px solid black;
}
.type-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}