/* DESKTOP */
.dayDesktop{
    width: 20%;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 0px;
}

.dayDesktop > h1 {
    background: white;  
    text-transform: uppercase;
    font-size: 1.2em;
    color: rgb(48, 48, 48);
    margin: 0px;
}

.dayDesktop > .line {
    width: 100%;
    height: 1px;
    background: grey;
    margin-top: 8px;
    margin-bottom: 4px;
}

.event{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.event > h2 {
    font-size: .85em;
}

.event > p {
    font-size: .75em;
    margin: 0px;
}

.event > img {
    width: 80%;
    align-self: center;
    margin: 5px;
}

.important{
    background: rgba(255, 255, 255, 0.45);
    border-radius: 15px;
}

/* MOBILE */

.dayMobile {
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 0px;
}

.dayMobile > h1 {
    background: white;  
    text-transform: uppercase;
    font-size: 1.2em;
    color: rgb(48, 48, 48);
    margin: 0px;
}

.dayMobile > .line {
    width: 100%;
    height: 1px;
    background: grey;
    margin-top: 8px;
    margin-bottom: 4px;
}

.dayMobile > .event{
    border: .2px solid grey;
    border-radius: 15px;
    margin: 8px;
}

#selected {
    background: rgba(180, 180, 180, 0.45);
}

.dayMobile > .important{
    background: rgba(180, 180, 180, 0.45);
}

.dayMobile > h1{
    display: none;
}

.dayMobile > .line{
    margin-top: 15px;
    margin-bottom: 5px;
}

.days{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.days h1{
    cursor: pointer;
    font-size: 1.2em;
    padding:5px;
}

.daySelector{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.dayMobile > .event > h2 {
    text-transform: uppercase;
}
