.screenEvent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.screenCinema{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-image: url(https://pbs.twimg.com/media/D-nSD28WkAAZi3Q.jpg);
    background-size: cover;
    background-position-y: -1vh;
    background-position-x: 3vw;
}

.screenVideo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-image: url(https://revusetcorriges.files.wordpress.com/2017/12/sceno-la-planete-des-vampires.png?w=1024);
    background-size: cover;
    background-position-x: 2vw;
}

.screenRetro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-image: url(https://revusetcorriges.files.wordpress.com/2018/08/dorothy-arzner-et-clara-bow-sur-le-tournage-de-the-wild-party-1929-recadrc3a9e.jpg);
    background-size: cover;
    background-position-x: 12vw;
}

.screenRegister {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.displayData {
    display: flex;
    justify-content: center;
}

.tableDeleteEvent{
    width: 100vw;
}

.container-button {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(127, 127, 127);
    min-height:100vh;
    width: 20vw;
}

.event-managment {
    margin-top: -10vh;
}

.event-button {
    font-size:0.9em;
    text-decoration: none;
}

.deco-managment {
    margin-top: -10vh;
}

.all {
    display: flex;
    background-image: url(https://revusetcorriges.files.wordpress.com/2018/03/rc.gif);
    background-size: cover;
    background-position-x: 8vw;
}

h4 {
    color: white;
    text-decoration-line: underline;
    padding-left: 1vw;
}
.buttonform  {
    text-decoration: none;
    padding: 0.7em;
    font-size:1em;
    color: black;
    display: block;
}

.buttonform:hover {
    text-decoration-line: underline;
}

#buttonEventForm {
    position: absolute;
    right: 1vw;
}

.menuadminbuttonform {
    text-decoration: none;
    padding-left: 2vw;
    font-size:1em;
    color: black;
    display: block;
}

.screenSettings{
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.9);
    top: 15vh;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    box-shadow: 10px 15px 35px 0 rgba(0, 0, 0, 0.616);
    border-radius: 45px;
    position: absolute;
    padding: 15px;
}

.screenSettings > div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeModalSettings{
    cursor: pointer;
}

.arrowDownAdmin{
    position: absolute;
    left: 50vw;
    background: rgba(255, 255, 255, 0.774);
    height: 140px;
    padding: 15px;
    border-radius: 45px;
    box-shadow: -8px -10px 12px rgba(255, 255, 255, 0.753) inset;
}