.container {
    background-image: url("https://trello-attachments.s3.amazonaws.com/5cd7f83b61edae67f973f62b/5cef3fb685ca6344b8fa6124/c58714526b670aa011615523b89ef02d/EXPORT_SOMMAIRE_4.jpg")
}
.button-selectform {
    border: 1px solid black;
    height: 5vh;
    margin-left: 2%;
    margin-top:2%;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
}
.button-submit {
    border: 1px solid black;
    height: 5vh;
    margin-top:5vh;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
}
.form-event > form{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.3em;
        color:black;

 }
.input-event {
    width: 41vw;
 }
fieldset {
    width: 40VW;
}

 