.container-button {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(127, 127, 127);
    height:100vh;
    width: 20vw;
   }
.event-managment {
    margin-top: -10vh;
}
.event-button {
    font-size:0.9em;
}

.deco-managment {
    margin-top: -10vh;
}

.all {
    display: flex;
    background-image: url(https://revusetcorriges.files.wordpress.com/2018/03/rc.gif);
    background-size: cover;
    background-position-x: 8vw;
}

.getdata {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-gap: 1vw;
    margin-top: 2vw;
    margin-left: 2vw;
    padding-right: 4vw;
}

.data {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cover {
    max-width:14vw;
    height:auto;
    margin-left: 10vw;

}

a {
    display: flex;
    justify-content: center;
    color: black;
}

h4 {
    color: white;
    text-decoration-line: underline;
    padding-left: 1vw;
}
.buttonform {
   
    padding-left: 2vw;
    font-size:1em;
    color: black;
}
.buttonform:hover {
    text-decoration-line: underline;
}

.deleteNone{
    display : none;
}

.input-area {
    height: 25px;
    width: 300px;
}

.button-submit {
    display: flex;
    margin-top: 10px;
    margin-left: 115px;
    height: 30px;
}