.Day{
    width: 20%;
    margin: 5px;
}

.Day > h1 {
    background: white;  
    text-transform: uppercase;
    font-size: 1.2em;
    color: rgb(48, 48, 48)
}

.event{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.event > h2 {
    font-size: .85em;
}

.event > p {
    font-size: .75em;
    margin: 0px;
}

.event > img {
    width: 80%;
    align-self: center;
    margin: 5px;
}

.event.important{
    background: rgba(255,255,255, .45);
    border-radius: 15px;
}