Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3em;
  /* color:black;
  border: 1px solid black; */
  border-radius: 10px 10px 10px 10px;
  width: 50vw;
  margin: auto;
  padding-bottom: 5%;
  background-color:rgba(196, 200, 206, .7);

}

.container {
  background-image: url("https://images.unsplash.com/photo-1511184150666-9bb7d41a88f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.input-form {
width: 41vw;
height: 5vh;
border-bottom: 1px solid black;
border-top-style: none;
border-right-style: none;
border-left-style: none;
border-bottom-style:none;
background-color:rgb(232, 236, 242);
padding-top:2%;
box-shadow: -1px 1px 6px 1px rgba(0, 0, 0, 0.3) inset;
}

fieldset {
width: 40VW;
margin-top: 2%;
margin-bottom: 2%;
}
.checkradio {
  display: flex;
  justify-content: space-evenly;
}
.button-choice {
  display: flex;
  flex-direction: row;
  width: 38vw;
  justify-content: space-evenly;
} 
.arrow-back {
  height: 10vh;
  width: 10vh;
  margin-top:3vh;
  padding-left:5vw;
}
.button-selectform {
    border: none;
    height: 5vh;
    margin-left: -5vw;;
    margin-top:5vh;
    background: none;
}
.button-submit {
    border: 1px solid black;
    height: 5vh;
    margin-top:5vh;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
}
