.adminForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  background: rgb(240, 232, 232);
  padding: 5%;
  margin-left: 31%;
  margin-top: 22%;
  height: 30vh;
  max-width: 40vw;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3)
}
   
.iconUser{
  width: 32%;
  margin-top: -25%;
  margin-left: 2%;
  position: absolute;
}

.FormTitle{
  min-height: 40px;
}

.FormTitle__Link:hover{
  color: #707C8B;
  font-size: 1.3em;
  margin: 0 10px;
  padding-bottom: 5px;
  font-size: 20px;
  transition: 1s ease-in-out;
}

.FormTitle__Link--Active{
  color: black;
  border-bottom: 1px solid #199087;
  transform: translateX(30px);
  transition: 1s ease-in-out;
  font-size: 20px;
}

.btnSignUp{
  margin-top: 3vh;
}