
 @media screen and (min-width: 10px) and (max-width: 1024px) {

#wrap {
    font-family: sans-serif;
    font-size: 21px;
    line-height: 1.6;
    margin-left: 0;
    display: flex;
    
    transition: transform .4s cubic-bezier(.25, .1, .25, 1);
    position: fixed;
    top: 23px; left: 363px;
    z-index: 8;
    text-decoration: none;
    text-decoration-style: solid;


    /* left: 50vw;
    top: 4vh; */
}

  
  
  #wrap:not(:target) {
    transform: translate3d(-335px, 0, 0);
  }
  
  #wrap:target {
    transform: translate3d(0, 0, 0);
  }
  
  #open,
  #close {
    height: 44px;
    text-align: left ;
    display: block;
    margin-left: -35%;
  }
  
  #wrap:target #open,
  #wrap:not(:target) #close {
    display: none;
  }
  
  #wrap:target #open {
    display: none;
  }
  
  .nav a {
    
    text-decoration-style: solid;
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .header {
    
    width: 100%;
}
  
  .nav {
    /* padding: 25px; */
    top: 0%;
    left: 1px;
    position:fixed 
  }


#warp,  #open {
    background-image: url(https://static.thenounproject.com/png/568033-200.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position-x: 90%; */
    height: 34px;
    width: 34px;
  }

 #close {
    background-color: white;
    width: 101vw;
    height: 18vh;
    margin-left: -17.34em;
    margin-top: -4vh;
 }

 .liResponsive :hover {
    
    list-style-type: none;
 }

 .shadowBox:hover {
  box-shadow: #bc33e9 310px -21px inset;
 }

 .liResponsive {
  
  list-style-type: none;
}

 
}
@media screen and (min-width : 1024px)  {
#close, .liResponsive {
    display: none
}
}