.searchForm{
    width:100%;
    display: flex;
    overflow: hidden;
}

.searchForm input{
    width: 90%
}

.boutonLoupe{
    height: 2.9vh;
    background: rgb(250,188,22);
    border: none;
    position: absolute;
    left: 15.9vmax;
    bottom: 18vmax;
    border-radius: 15%;
}

.loupe{
    width: 12px;
}

