
/* Composant cree en test mais on utilisera plutot DropdownCustom */


*{
  box-sizing:border-box;
}

.select-box--box{
  width:180px;
  position: absolute;
  left:0;
}

.select-box--container{
  height:30px;
  border:1px solid #aaa;
  widows: 100%;
  margin:0;
  padding:0;
}

.select-box--selected-item {
display:inline-block;
height:100%;
width:100%;
padding:4px 12px;
vertical-align:middle;
}

.select-box--items div{
border-bottom:1px solid #ddd;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
padding: 6px;
padding-left:20px;
}


.select-box--arrow{
width:30px;
height:30px;
margin:0;
padding:0;
display:inline-block;
background-color: #aaa;
position: absolute;
right:0;
top:0;
}

.select-box--items div.selected {
  background-image:url('https://png2.kisspng.com/sh/3e66d9651a4c75179e8b739cc918aa5d/L0KzQYm3VMIzN6VofZH0aYP2gLBuTfNpbZRwRd9qcnuwc7F0kQV1baMygdV4boOwc73wkL1ieqUye9puY3vwccPyTflkd58yTdNtY3a2dYS9VvI3QGgzTaQCMkK1Q4W4VcI1PGMAT6sANEKzR3B3jvc=/kisspng-check-mark-computer-icons-clip-art-checkmark-icon-5adcf3e366b687.5272223415244297954207.png');
background-size:16px;
background-repeat:no-repeat;
background-position: 2px 8px;
}

.select-box--arrow-down {
position : absolute;
top:10px;
left: 10px;
height:0;
width:0;
border-left:8px solid transparent;
border-right:8px solid transparent;
border-top:10px solid rgb(197, 58, 58);
}

.select-box--arrow-up {
  position : absolute;
  top:8px;
  left: 10px;
  height:0;
  width:0;
  border-left:8px solid transparent;
  border-right:8px solid transparent;
  border-bottom:10px solid rgb(197, 58, 58);
  }
  